.contenedor-principal {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}

.card-ejercicios h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}


.card-ejercicios {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-ejercicios {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.filtros-selectores {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.filtros-selectores select {
  padding: 0.5rem;
  font-size: 1rem;
}

.input-busqueda {
  padding: 0.5rem;
  font-size: 1rem;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-volver {
  background-color: #eee;
  border: none;
  color: #333;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.2s;
}

.btn-volver:hover {
  background-color: #ddd;
}



