<footer class="footer">
    <div class="footer-container">
      
      <!-- Columna 1: Logo -->
      <div class="footer-column">
        <img src="favicon.ico" alt="Logo" class="footer-logo">
        <p class="copyright-text">Copyright © 2025 FitTrackApi</p>
      </div>
  
      <!-- Columna 2: Dirección, Teléfono y Correo -->
      <div class="footer-column">
        <p>📍 Dirección: Calle Falsa 123, Ciudad Ejemplo</p>
        <p>📞 Teléfono: +34 600 123 456</p>
        <p>📧 Email: contacto&#64;email.com</p>
      </div>
  
      <!-- Columna 3: Redes Sociales -->
      <div class="footer-column social-icons">
        <a href="#" target="_blank"><mat-icon>facebook</mat-icon></a>
        <a href="#" target="_blank"><mat-icon>public</mat-icon></a>
        <a href="#" target="_blank"><mat-icon>photo_camera</mat-icon></a>
        <a href="#" target="_blank"><mat-icon>ondemand_video</mat-icon></a>
      </div>
  
    </div>
  </footer>
