<div class="about-container">
    <h1>Sobre Nosotros</h1>
  
    <section class="about-section">
      <img src="assets/images/entreno.jpg" alt="Ejercicio físico">
      <h2>La Importancia del Ejercicio</h2>
      <p>
        Mantenerse activo es fundamental para una vida saludable. El ejercicio regular ayuda a mejorar la resistencia, 
        la fuerza y la salud mental, reduciendo el riesgo de enfermedades y aumentando la calidad de vida.
      </p>
    </section>
  
    <section class="about-section">
      <img src="assets/images/duo.avif" alt="Entrenadores profesionales">
      <h2>Supervisión Profesional</h2>
      <p>
        Contar con un equipo de expertos en entrenamiento garantiza que cada rutina sea efectiva y segura. 
        Nuestros entrenadores certificados te ayudarán a alcanzar tus metas sin riesgo de lesiones.
      </p>
    </section>
  
    <section class="about-section">
      <img src="assets/images/descanso.jpg" alt="Mejora del rendimiento">
      <h2>Mejora de Rendimiento</h2>
      <p>
        Con nuestra plataforma, puedes hacer un seguimiento detallado de tu progreso, ajustar tus entrenamientos 
        según tu evolución y optimizar tu rendimiento con herramientas avanzadas.
      </p>
    </section>
  </div>
  